In [11]:
import numpy as np
import pandas as pd

In [15]:
df = pd.read_csv("spherical_grid_unique.txt", sep='\t', header=None)

In [32]:
df.columns = ["col1", "col2", "col3", "col4", "col5", "col6", "col7"]

In [48]:
df

      col1  col2  col3   col4  col5             col6               col7
0      219  22.5  19.5  100.5     1  22.5 19.5 100.5  22.5 19.5 100.5 1
1      219  22.5  20.5   99.5     1   22.5 20.5 99.5   22.5 20.5 99.5 1
2      219  22.5  20.5  100.5     1  22.5 20.5 100.5  22.5 20.5 100.5 1
3      219  22.5  20.5  101.5     1  22.5 20.5 101.5  22.5 20.5 101.5 1
4      219  22.5  21.5  100.5     1  22.5 21.5 100.5  22.5 21.5 100.5 1
5      219  22.5  21.5  101.5     1  22.5 21.5 101.5  22.5 21.5 101.5 1
6      219  23.5  19.5   99.5     1   23.5 19.5 99.5   23.5 19.5 99.5 1
7      219  23.5  19.5  100.5     1  23.5 19.5 100.5  23.5 19.5 100.5 1
8      219  23.5  19.5  101.5     1  23.5 19.5 101.5  23.5 19.5 101.5 1
9      219  23.5  20.5   99.5     1   23.5 20.5 99.5   23.5 20.5 99.5 1
10     219  23.5  20.5  100.5     1  23.5 20.5 100.5  23.5 20.5 100.5 1
11     219  23.5  20.5  101.5     1  23.5 20.5 101.5  23.5 20.5 101.5 1
12     219  23.5  20.5  102.5     1  23.5 20.5 102.5  23.5 20.5 102.5 1
13     219  23.5  21.5   99.5     1   23.5 21.5 99.5   23.5 21.5 99.5 1
14     219  23.5  21.5  100.5     1  23.5 21.5 100.5  23.5 21.5 100.5 1
15     219  23.5  21.5  101.5     1  23.5 21.5 101.5  23.5 21.5 101.5 1
16     219  23.5  21.5  102.5     1  23.5 21.5 102.5  23.5 21.5 102.5 1
17     219  23.5  22.5  100.5     1  23.5 22.5 100.5  23.5 22.5 100.5 1
18     219  23.5  22.5  101.5     1  23.5 22.5 101.5  23.5 22.5 101.5 1
19     219  24.5  18.5  100.5     1  24.5 18.5 100.5  24.5 18.5 100.5 1
20     219  24.5  19.5   99.5     1   24.5 19.5 99.5   24.5 19.5 99.5 1
21     219  24.5  19.5  100.5     1  24.5 19.5 100.5  24.5 19.5 100.5 1
22     219  24.5  19.5  101.5     1  24.5 19.5 101.5  24.5 19.5 101.5 1
23     219  24.5  19.5  102.5     1  24.5 19.5 102.5  24.5 19.5 102.5 1
24     219  24.5  20.5   98.5     1   24.5 20.5 98.5   24.5 20.5 98.5 1
25     219  24.5  20.5   99.5     1   24.5 20.5 99.5   24.5 20.5 99.5 1
26     219  24.5  20.5  100.5     1  24.5 20.5 100.5  24.5 20.5 100.5 1
27     219  24.5  20.5  101.5     1  24.5 20.5 101.5  24.5 20.5 101.5 1
28     219  24.5  20.5  102.5     1  24.5 20.5 102.5  24.5 20.5 102.5 1
29     219  24.5  21.5   99.5     1   24.5 21.5 99.5   24.5 21.5 99.5 1
...    ...   ...   ...    ...   ...              ...                ...
4448   249  45.5  34.5  103.5     1  45.5 34.5 103.5  45.5 34.5 103.5 1
4449   249  45.5  35.5  102.5     1  45.5 35.5 102.5  45.5 35.5 102.5 1
4450   249  45.5  33.5  104.5     1  45.5 33.5 104.5  45.5 33.5 104.5 1
4451   249  45.5  34.5  104.5     1  45.5 34.5 104.5  45.5 34.5 104.5 1
4452   249  45.5  35.5  101.5     1  45.5 35.5 101.5  45.5 35.5 101.5 1
4453   249  45.5  35.5  103.5     1  45.5 35.5 103.5  45.5 35.5 103.5 1
4454   249  46.5  32.5  102.5     1  46.5 32.5 102.5  46.5 32.5 102.5 1
4455   249  46.5  32.5  103.5     1  46.5 32.5 103.5  46.5 32.5 103.5 1
4456   249  46.5  33.5  101.5     1  46.5 33.5 101.5  46.5 33.5 101.5 1
4457   249  46.5  33.5  102.5     1  46.5 33.5 102.5  46.5 33.5 102.5 1
4458   249  46.5  33.5  103.5     1  46.5 33.5 103.5  46.5 33.5 103.5 1
4459   249  46.5  33.5  104.5     1  46.5 33.5 104.5  46.5 33.5 104.5 1
4460   249  46.5  34.5  101.5     1  46.5 34.5 101.5  46.5 34.5 101.5 1
4461   249  46.5  34.5  102.5     1  46.5 34.5 102.5  46.5 34.5 102.5 1
4462   249  46.5  34.5  103.5     1  46.5 34.5 103.5  46.5 34.5 103.5 1
4463   249  46.5  34.5  104.5     1  46.5 34.5 104.5  46.5 34.5 104.5 1
4464   249  46.5  35.5  102.5     1  46.5 35.5 102.5  46.5 35.5 102.5 1
4465   249  46.5  35.5  103.5     1  46.5 35.5 103.5  46.5 35.5 103.5 1
4466   249  40.5  34.5  101.5     1  40.5 34.5 101.5  40.5 34.5 101.5 1
4467   249  40.5  34.5  102.5     1  40.5 34.5 102.5  40.5 34.5 102.5 1
4468   249  40.5  35.5  100.5     1  40.5 35.5 100.5  40.5 35.5 100.5 1
4469   249  40.5  35.5  101.5     1  40.5 35.5 101.5  40.5 35.5 101.5 1
4470   249  40.5  35.5  102.5     1  40.5 35.5 102.5  40.5 35.5 102.5 1
4471   249  40.5  36.5  101.5     1  40.5 36.5 101.5  40.5 36.5 101.5 1
4472   249  41.5  34.5  100.5     1  41.5 34.5 100.5  41.5 34.5 100.5 1
4473   249  41.5  35.5  100.5     1  41.5 35.5 100.5  41.5 35.5 100.5 1
4474   249  41.5  36.5  100.5     1  41.5 36.5 100.5  41.5 36.5 100.5 1
4475   249  41.5  36.5  101.5     1  41.5 36.5 101.5  41.5 36.5 101.5 1
4476   249  41.5  36.5  102.5     1  41.5 36.5 102.5  41.5 36.5 102.5 1
4477   249  42.5  33.5  100.5     1  42.5 33.5 100.5  42.5 33.5 100.5 1

[4478 rows x 7 columns]

In [44]:
for i in range(50, 60):
    print df.ix[i, :]

col1                  219
col2                 23.5
col3                 21.5
col4                103.5
col5                    1
col6      23.5 21.5 103.5
col7    23.5 21.5 103.5 1
Name: 50, dtype: object
col1                  219
col2                 23.5
col3                 22.5
col4                102.5
col5                    1
col6      23.5 22.5 102.5
col7    23.5 22.5 102.5 1
Name: 51, dtype: object
col1                  219
col2                 24.5
col3                 19.5
col4                103.5
col5                    1
col6      24.5 19.5 103.5
col7    24.5 19.5 103.5 1
Name: 52, dtype: object
col1                  219
col2                 24.5
col3                 20.5
col4                103.5
col5                    1
col6      24.5 20.5 103.5
col7    24.5 20.5 103.5 1
Name: 53, dtype: object
col1                  219
col2                 24.5
col3                 21.5
col4                103.5
col5                    1
col6      24.5 21.5 103.5
col7    24.5 21.5 103.5 1
Name: 54, dtype: object
col1                  219
col2                 24.5
col3                 22.5
col4                102.5
col5                    1
col6      24.5 22.5 102.5
col7    24.5 22.5 102.5 1
Name: 55, dtype: object
col1                  219
col2                 24.5
col3                 22.5
col4                103.5
col5                    1
col6      24.5 22.5 103.5
col7    24.5 22.5 103.5 1
Name: 56, dtype: object
col1                  219
col2                 25.5
col3                 19.5
col4                102.5
col5                    1
col6      25.5 19.5 102.5
col7    25.5 19.5 102.5 1
Name: 57, dtype: object
col1                  219
col2                 25.5
col3                 19.5
col4                103.5
col5                    1
col6      25.5 19.5 103.5
col7    25.5 19.5 103.5 1
Name: 58, dtype: object
col1                  219
col2                 25.5
col3                 20.5
col4                103.5
col5                    1
col6      25.5 20.5 103.5
col7    25.5 20.5 103.5 1
Name: 59, dtype: object

In [49]:
df.head(10)

   col1  col2  col3   col4  col5             col6               col7
0   219  22.5  19.5  100.5     1  22.5 19.5 100.5  22.5 19.5 100.5 1
1   219  22.5  20.5   99.5     1   22.5 20.5 99.5   22.5 20.5 99.5 1
2   219  22.5  20.5  100.5     1  22.5 20.5 100.5  22.5 20.5 100.5 1
3   219  22.5  20.5  101.5     1  22.5 20.5 101.5  22.5 20.5 101.5 1
4   219  22.5  21.5  100.5     1  22.5 21.5 100.5  22.5 21.5 100.5 1
5   219  22.5  21.5  101.5     1  22.5 21.5 101.5  22.5 21.5 101.5 1
6   219  23.5  19.5   99.5     1   23.5 19.5 99.5   23.5 19.5 99.5 1
7   219  23.5  19.5  100.5     1  23.5 19.5 100.5  23.5 19.5 100.5 1
8   219  23.5  19.5  101.5     1  23.5 19.5 101.5  23.5 19.5 101.5 1
9   219  23.5  20.5   99.5     1   23.5 20.5 99.5   23.5 20.5 99.5 1

In [52]:
df.head(61).tail(11)

    col1  col2  col3   col4  col5             col6               col7
50   219  23.5  21.5  103.5     1  23.5 21.5 103.5  23.5 21.5 103.5 1
51   219  23.5  22.5  102.5     1  23.5 22.5 102.5  23.5 22.5 102.5 1
52   219  24.5  19.5  103.5     1  24.5 19.5 103.5  24.5 19.5 103.5 1
53   219  24.5  20.5  103.5     1  24.5 20.5 103.5  24.5 20.5 103.5 1
54   219  24.5  21.5  103.5     1  24.5 21.5 103.5  24.5 21.5 103.5 1
55   219  24.5  22.5  102.5     1  24.5 22.5 102.5  24.5 22.5 102.5 1
56   219  24.5  22.5  103.5     1  24.5 22.5 103.5  24.5 22.5 103.5 1
57   219  25.5  19.5  102.5     1  25.5 19.5 102.5  25.5 19.5 102.5 1
58   219  25.5  19.5  103.5     1  25.5 19.5 103.5  25.5 19.5 103.5 1
59   219  25.5  20.5  103.5     1  25.5 20.5 103.5  25.5 20.5 103.5 1
60   219  25.5  21.5  102.5     1  25.5 21.5 102.5  25.5 21.5 102.5 1